.kegthat-scrollable{
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.kegthat-generator {
  padding-top: 100px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: max-content;
}

@media only screen and (min-width: 992px) {
  .kegthat-generator {
    width: 50%;
  }
}

.kegthat-row {
  width: 350px;
}

.kegthat-button{
  margin-top: 20px !important;
}

.kegthat-text-container{
  margin-top: 10px;
}

.kegthat-summary {
  background-color: #00407c;
  color: white;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: large;
  font-weight: 500;
  width: 80%;
  height: 2vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


